@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@300;400;600;700;800;900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration:none;
    
}

:root {
    --color-gold:#B28756;
}

html {
    font-size:62.5%;
}


/* start header */

header {
    width:100%;
    background-color: #000;
}

header nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:20px 13%;
    background-color: #000;
    align-items: center;
    /*position:fixed;*/
    /*top:0*/

}
header nav img {
    width:6rem;
    height:6rem;
}
.menu-icon {
    font-size:1.6rem;
    color:#fff;
    display: none;
}
.navbar {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap:1.9rem;

}
.navbar li {
   position:relative;
    
}
.navbar a {
    display: inline-block;
    padding:6px 3px;
    color:#fff;
    font-size: 1.6rem;
    font-weight:800;
    text-decoration:none;
    
    
    
}
.navbar a::after {
    content: '';
    width:0;
    height:4px;
    background-color:var(--color-gold);
    position:absolute;
    bottom:-2px;
    left:0;
    transition:0.4s;
}
.navbar a:hover::after, 
.navbar a:hover {
    width:100%;
    color:var(--color-gold);
}

/* end header */


/* start banner */
main {
    width:100%;
    height:100vh;
    
    overflow: hidden;
    
  
    
}
.banner {
    background-image: url(../images/img/foto2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;   
}

.banner-content {
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center; 
           
}
.banner-text {
    justify-content: center;    
    text-align:center; 
}
.banner-text h1 {
    font-weight: 800;
    font-size:5.6rem;
    text-transform:uppercase;
    color:#ffffff;
    text-shadow: 10px 8px 10px 7px #000;
}
.banner-text span {
    color:var(--color-gold);
}
.banner-text h4 {
    font-size: 2.3rem;
    font-weight:600;
    color:#fff;
    margin-top:13px;
    text-transform:uppercase;
}
.btn {
    display: inline-block;
    padding:1.3rem 3rem;
    background-color: transparent;
    border:2px solid var(--color-gold);
    border-radius:30px;
    margin-top:45px;
    color:var(--color-gold);
    font-size:1.5rem;
    text-transform: uppercase;
    position:relative; 
    overflow: hidden;
    z-index:1;  
}
.btn::before {
    content:'';
    width:100%;
    height:100%;
    background-color:var(--color-gold);
    position:absolute;
    top:0;
    left:-300px;
    z-index:-1;
    transition:0.5s;
}
.btn:hover.btn::before,
.btn:hover {
    left:0;
    color:#fff;    
}
.banner-control {
    width:90px;
    height:auto;
    padding:3px 4px;
    position:absolute;
    bottom:40px;    
    justify-content: center;
    display: flex;
}
.banner-control i {
    font-size:1.4rem;
    color:var(--color-gold);
    margin: 4px;
}
#act.active {
    color: var(--color-gold);
}

/* end banner */

/* start section About us */
section {
    width:100%;
    padding:45px 13%;
}
.section {
    background-color:#c81111;
    width:100vw;    
}
.light {
    background-color: #fff;
}
.dark {
    background-color: #000;
}
.content {
    
    text-align:center;
    
}
.headering {
    font-size:3.6rem;
    color:#000;
    text-transform:uppercase;
    
}
.sub-headering {
    font-size:1.8rem;
    color:#aeaeae;
    text-transform: uppercase;
    padding-top:5px;
    font-weight: 600;
}
.content-bottom {
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.part-text {
    width:60%;
    padding:0px 20px 0px 0px;
    text-align:justify;
}
.part-text p {
    font-size:1.5rem;
    line-height:2.5rem;
    
}
.part-video {
    width:40%;
    padding:10px;
}
video {
    width:100%;
}

/* start section About us */


/* start section services */
.ligh {
    color:#fff;
}
.content-services {
    
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    
}
.content-ind {
    padding: 20px 10px;
    margin:30px 0;
    border-right:1.5px solid #7e7e7e;
}
.content-ind:first-child {
    border-left:1.5px solid #7e7e7e;
}
.content-ind h3 {
    font-size:2rem;
    font-weight:600;
    color:#fff;
    margin-top:25px;
    margin-bottom:10px;
}
.content-ind p {
    color:#7e7e7e;
    font-size: 1.3rem;
}

/* end section services */


/* start section our projects */
.section .content .content-buttom {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.content-buttom {
    
    display: inline-block; 
    justify-content: center; 
    margin-top:20px;
    border:1px solid #7e7e7e;
    border-radius: 30px;
    padding:0 40px;
    text-align: center;        
}
.content-buttom ul {
    display: flex;
    justify-content: center;
    list-style: none;   
}
.content-buttom ul li{
    display: inline-block;
    padding:15px 20px;
    text-transform: uppercase;   
    font-size:1.6rem;
    color:#000;    
    border-right: 1px solid #7e7e7e;
    
} 
.content-buttom li:hover {
    
    transition:ease 0.7s;
}
.content-buttom  li:last-child {
    border-right:none;
}
.content-buttom  li a {
    width: 100%;
    display: inline-block;
    justify-content: center;    
    color:#7e7e7e;
    border-bottom:4px solid transparent;
    
}
.content-buttom  li a:hover {
    
    border-bottom:4px solid var(--color-gold);
}


.content-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:1rem;
    margin-top: 30px;
}
.box-images {
    width:100%;
    height:100%;
    position: relative;
    overflow:hidden;
    cursor:pointer;
    background-color: transparent;
}

.box-images h2 {
    font-size:2rem;
    color:#fff; 
    text-transform: uppercase; 
}
.box-images img {
    width:100%;    
}
.box-images p {
    font-size: 1.4rem;
    color:#fff;
    margin-top:5px;
}
.text-img {
    width:inherit;
    height:inherit;
    background-color: rgba(0, 0, 0, 0.6);
    position:absolute;
    bottom:-250px;
    padding:0 10px;
    transition: ease 0.5s; 
    display: flex;
    justify-content: center;
    flex-direction: column;   
    align-items: center; 

}
.box-images:hover .text-img {    
    bottom:0px;    
}
.box-images:hover.img1 {
    background-color: rgba(0, 0, 0, 0.8);
}

/* end section our projects */



/* start section our team */
.fume {
    background-image: url(../images/img/foto6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    height:100%;
    position: relative;
}
.fume .content {
    display: flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.6);
    padding:30px 13%;
    display: grid;
    
    
}
.area-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
     
    
}
.fume .content {
    display: block;
    justify-content: center;    
}
.team-complete {
    width:270px;
    height:440px;
    flex:1;
    
    
    margin:0 10px;
    background-color: #fff;
    padding:20px;
}
.fume .headering {
    color:#fff;
}
.fume .content-buttom {
    border:0;
    padding:20px;
}
.top-team img {
    margin-top:40px;
    margin-bottom: 30px;
}
.top-team h3 {
    font-size:2.4rem;
    color:#000;
    font-weight: 400;
}
.top-team h4 {
    font-size: 1.4rem;
    font-weight: 300;
}
.part-icons {
    padding: 10px;
}
.part-icons i {
    font-size: 2.5rem;
    color:#fff;
    padding:5px 5px;
    cursor:pointer;
    background-color: #bebebe;
    border-radius:50px;
}
.fume .banner-control{
    position: absolute;  
    left: 720px;
    bottom: 10px;
}



/* end section out team */

/* Responsividade inicio 1024px */

@media (max-width:1024px) {
    html {
        font-size: 45%;
    }
    .content-ind, .content-ind:first-child {
        border-left: 1.5px solid #7e7e7e;
    }
}

/* Responsividade fim 1024px */

/* Responsividade inicio 768px */
@media (max-width:768px) {
    header {
        position: fixed;
    }
    .menu-icon {
        display:block;
    }
    .navbar {
        width:80%;
        height:100vh;
        display:inline-block;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        background-color: var(--color-gold);
        padding:20px 30px;
        position:absolute;
        top:-1200%;
        right:0;
        transition: 0.45s ease-in; 
        z-index:1000;    
        
    }
    .navbar.active {        
        top:100%;
        
        

    }.navbar li {
        padding:10px 10px;
        
    }
    .navbar a {
        font-size:3rem;
        color:#623b0e;

    }
    .navbar a::after {
        content: '';
        width:0;
        height:3px;
        background-color: #ce6e00;
        position:absolute;
        bottom:-4px;
        left:0;
        transition:0.4s;
    }
    .navbar a:hover::after, 
    .navbar a:hover {
        width:100%;
        color: #ce6e00;
    }
    .menu-icon i {
        font-size:2.5rem;
    }
    
    .banner-text {
        position:static
        
    }
    .banner-text .btn{
        position:static;    
        z-index:-1; 
    } 
    .banner-control {
        
        display: none;
    }
    .section .content .content-bottom {
        display:block;        
    }
    .section .content .content-bottom .part-video,
    .section .content .content-bottom .part-text {
        width:100%;
        justify-content: center;
        margin-top:10px;
    }    
}

/* Responsividade fim 768px */


/* Responsividade inicio 425px */

@media (max-width:440px) {
   
    .menu-icon {
        display:initial;
    }
    .navbar {
        width:100%;
        height:100vh;
        display:inline-block;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        background-color: var(--color-gold);
        padding:20px 30px;
        position:absolute;        
        right:0;
        transition: 0.45s ease-in;
        z-index:-1000;        
    }
    .banner-text h1 {
        font-size:4rem;        
    }
    .content-ind, .content-ind:first-child {
        border:none;
    }
    .content-buttom 
    .content-buttom ul li {
        width:100%;
        padding:10px;       
        display: inline-block;
    }
    .content-buttom  ul {
        display: none;
        
    }
    
    }
    
}
/* Responsividade fim 425px */

